{% extends "template.html" %}

{%  load static %}

{% block style-links %}

<link rel="stylesheet" href="{% static 'CSS/other/about.css' %}">

{% endblock %}

{% block content %}

  <section class="about-us-body">
    <div class="about-section">
      <h1>" Buying book is not an expense,<br> but an investment to self development "</h1>
    </div>
  </section>

  <h2 style="text-align:center">Our mission and vision</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <i class="fa fa-book" aria-hidden="true"></i>
        <div class="container">
          <h2>MISSION</h2>
          <hr>
          <p> To offer a quality selection of <br> new and affordable bargain books,for customers of all ages and
            backgrounds.</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <div class="container">
          <h2>VISION</h2>
          <hr>
          <p>To reach the people who <br> need the information that <br> you have to offer.</p>
        </div>
      </div>
    </div>

  </div>
  </div>
  <h2 class="head2">Why BookSharks ?</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <div class="container">
          <h2>USER TIME</h2>
          <hr>
          <p>Helps to reduce the searching <br> time of a user by <br> providing userfriendly dashboard </p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <div class="container">
          <h2>SERVICE</h2>
          <hr>
          <p>Provides you best service <br> by solving your problem <br> as soon as possible</p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <i class="fa fa-check-circle" aria-hidden="true"></i>
        <div class="container">
          <h2>QUALITY</h2>
          <hr>
          <p>We assure our user must <br> get good quality of <br> second-hand books</p>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="card">
        <i class="fa fa-inr" aria-hidden="true"></i>


        
        <div class="container">
          <h2>PRICE</h2>
          <hr>
          <p>Always try to <br> provide the best deal <br> at reasonable price</p>
        </div>

      </div>
    </div>
  </div>

 {% endblock %}