{% extends "template.html" %}

{%  load static %}

{% block style-links %}

<link rel="stylesheet" type="text/css" href="{% static 'CSS/pages/otp_verify_page.css' %}?" %}>

{% endblock style-links %}

{% block content %}
<div class="otp-form-wrapper">

  <div class="otp-form-container">
    <h2>Verify Your Email</h2><br>
    <p class="color_grey">An OTP has been sent to your Email</p>
    <form method="post">
      {% csrf_token %}
      <div class="imp-field">
          <small>
              {% for message in messages %}
              {{message}}<br>
              {% endfor %}
          </small>
      </div>
      <br>
      <br>
      <div class="input-field">
        <input type="text" autocomplete="off" name="otp_input" onfocusout="input_field_focusout('otp_input_label','otp_input_field')" onfocus="input_field_focus('otp_input_label')" id="otp_input_field" required />
        <label for="name" class="input-field-label" id="otp_input_label">Enter OTP:<span class="imp-field">*</span></label>
    </div>
      <input type="submit" class="simple-bttn simple-bttn-2" />
      <input type="hidden" name="" value="{{request}}" id="">
      <input type="hidden" name="" value="{{first_name}}" id="">
      <input type="hidden" name="" value="{{username}}" id="">
      <input type="hidden" name="" value="{{user_id}}" id="">
      <input type="hidden" name="" value="{{mail_id}}" id="">
      <br><br>
      <a class="color_grey hover_col_black" href="" onclick="alert('OTP sent to your Email: {{mail_id}}')">Resend OTP</a>
    </form>
    <div>
    </div>
  </div>

</div>


{% endblock content %}
