.home-body-container{
    height: auto;
    width: auto;
    padding: var(--body-start-position) 0 0 0 ;
}

.search-results{
    display: grid;
    width:100%;
    gap: 3vw;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
}
.result-card{
    position: relative;
    border-radius:5px;
    border:0.5px solid var(--theme-light-1)
}
.result-card-anchor{
    text-decoration: none;
    display: grid;
    color:var(--black);
    padding:1vh 1vw;;
    justify-content: center;
}
.result-card-anchor div{
    width:100%;
}
.result-card .book-image-div{
    display: grid;
    justify-content: center;
    height:30vh;
    overflow: hidden;
}
.result-card .book-image{
    width: 12vw;
    height:30vh;
    border-radius: 2px;
    object-fit: contain;
    justify-self: center;
}
.book-details-div *{
    /* border: 0.2px solid var(--color-3)    ; */
}
.result-card .book-name{
    justify-self: center;
    text-align: center;
    font-size: 20px;
    padding:1vh 0;
}
.result-card .book-description{
    width:20vw;
    height:38px;
    font-size:13px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color:grey;
}
.result-card .book-prices{
    display:grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
    
}
.result-card .book-Mrp{
    color:red;
}
.result-card .book-price{
    font-size: 20px;
    font-weight: bold;
    color:green;
}
.book-result-card-button-container{
    display:flex;
    justify-content: space-around;
    width:100%;
    padding:1vh 0vw;
}
.add-to-cart-button , .buy-now-button{
    padding:1vh 1vw;
    width:10vw;
    color: var(--white);
    white-space: nowrap;
}


@media screen and (max-width: 1024px){
    .search-results{
        grid-template-columns: 45vw auto;
        align-items: center;
    }
    .result-card{
        height:100%;
    }
    .result-card-anchor{
        grid-template-columns: 35% 65%;
        align-items: center;
        justify-content: left;
        gap:2vw;
        white-space: normal;
    }
    .result-card .book-description{
        width:100%;
    }
    .book-image-div{
        padding: 0 1vw;
    }
    .book-details-div{
        display: grid;
        height:100%;
    }
    .result-card .book-image{
        height:40vw;
    }
    .add-to-cart-button , .buy-now-button{
        width:21vw;    
    }
    .result-card .book-name{
        text-align: left;
    }
    .result-card .book-price{
        display: grid;
        align-items: center;
    }
}
@media screen and (max-width: 768px){
    .search-results{
        grid-template-columns: 95vw;
    }
}