body{
    background-color: var(--theme-light-3);
}
.list-book-form-wrapper{
    /* to display in center */
    display: grid;
    column-gap: 5vw;
    justify-content: center;
}
.list-book-form-div{
    background-color: white;
    padding: 5vh 5vw;
    border-radius:5px;
} 
.description_div{
    display: flex;
    gap:2vw;
}
.book_description_input{
    resize: none;
    min-width: 50vw;
    max-width: 60vw;
    height: 20vh;
}  
.img_preview{
    display: flex;
    justify-content: start;
    gap:1vw;
    width: 100%;
    border: 1px solid #dbdbdb;
}
