body{
    background-color: var(--theme-light-2);
}
.login-head{
    padding:0 0 3vh 0;
}
.login-form-container{
    height:70vh;
    width:100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.login-form{
    background:var(--white);
    padding:5vh 3vw;
    border-radius: 2px;
}
.forget-password-div{
    padding:1vh 0 0 0;
}
.forget-password-div a{
    text-decoration:none;
}
.forget-password-div{
    justify-content:space-between;
}
@media screen and (max-width: 1024px){

    .login-form{
        width: 80vw;
    }
}