.otp-form-wrapper{
  /* padding: calc( var(--body-start-position ) + 15vh) 0; */
  height:70vh;
  /* border: 1px solid ; */
  display: flex;
  justify-content:center;
  align-items:center;
  align-content: center;
}