body{
    background-color: var(--theme-light-2);
}
.reg-form-container{
    min-height: 80vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
}
.reg-form{
    padding: 20px;
    border-radius: 2px;
    background-color: var(--white)
}
@media screen and (max-width: 786px) {   
    .reg-form-container{
        width: 100%;
    }
}
