{% extends "template.html" %}

{%  load static %}

{% block style-links %}

    <link rel="stylesheet" href="{% static 'CSS/pages/Product.css' %}">


{% endblock %}

{% block content %}
    
    <div class="body-position">
      <div class = "card-wrapper">
        
        <div class = "card">
          <!-- card left -->
          <div class = "product-imgs">
            <div class = "img-display">
              <div class = "img-showcase">
                {% for image in book_images %}
                      <img class="book-image" src="/books/{{image.path}}" alt="{{book.book_name}}"  />
                {% endfor %}
              </div>
            </div>

            <div class = "img-select">
    
              {% for image in book_images %}
                <div class = "img-item">
                  <a href = "#" data-id = "{{ forloop.counter }}">
                      <img class="book-image" src="/books/{{image.path}}" alt="{{book.book_name}}"   />
                  </a>
                </div>
              {% endfor %}
                

            </div>
            

          </div>
          <!-- card right -->
          <div class = "product-content">
                
                <h2 class = "product-title"> {{book_data.book_name}}</h2>
            <div class = "product-rating">
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star"></i>
              <i class = "fas fa-star-half-alt"></i>
              <span>4.7(21)</span>
            </div>

            <div class = "product-price">
              <p class = "last-price">MRP: <span>&#8377;{{book_data.book_mrp}}</span></p>
              <p class = "new-price">Selling Price: <span>&#8377;{{book_data.book_selling_price}}</span></p>
            </div>

            <div class = "product-detail">
              <h2>about this item: </h2>
              <p>{{book_data.book_description}}</p>
              <ul>
                <!-- <li>Seller: <span>{{book_data.book_seller.first_name}} {{book_data.book_seller.last_name}}</span></li> -->
                <li>Pickup Location: <span>{{book_data.book_seller.block}}, {{book_data.book_seller.district}}, {{book_data.book_seller.state}}</span></li>
                <li>Author: <span>{{book_data.book_author}}</span></li>
                <li>Publisher: <span>{{book_data.book_publisher}}</span></li>
                <li>Book year Edition: <span>{{book_data.book_year_edition}}</span></li>
              </ul>
            </div>

            <div class = "purchase-info">

              {% if user_id != None and user_id != book_data.book_seller_id and book_data.buyer_id == None %}
              <form onload="preventDefault()" method="post">
                {% csrf_token %}
                <input type="hidden" name="amount" value="{{book_data.book_selling_price}}">
                <button id="paybtn" type = "submit" class = "btn">
                  Buy
                </button>

              </form>
              {% endif %}

              <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
              <script>
                var options = {
                
                // Enter the Key ID generated from the Dashboard
                key: "{{ razorpay_merchant_key }}",
                
                amount: "{{ razorpay_amount }}",
                currency: "{{ currency }}",
                
                // Your/store name.
                name: "Bookshark",
                prefill:{'contact':9987990097,'email':'rishabhpnahar@gmail.com'},
                // Pass the `id` obtained in the response of Step 1
                order_id: "{{ razorpay_order_id }}",
                callback_url: "{{ callback_url }}",
                };
                
                // initialise razorpay with the options.
                var rzp1 = new Razorpay(options);
                
                // add event listener to the payment button.
                document.getElementById("paybtn").onclick = function (e) {
                rzp1.open();
                e.preventDefault();
                };
              </script>
              <button type = "button" onclick="alert('Coming Soon')" class = "btn">Compare</button>
            </div>

            <div class = "social-links">
              <p>Share At: </p>
              <a href = "https://www.facebook.com/sharer/sharer.php?u=" class="social-links-anchor"  target="_blank">
                <i class = "fab fa-facebook-f"></i>
              </a>
              <a href = "https://twitter.com/share?url="  class="social-links-anchor">
                <i class = "fab fa-twitter"></i>
              </a>
              <!-- <a href = ""  class="social-links-anchor">
                <i class = "fab fa-instagram"></i> -->
              </a>
              <a href="whatsapp://send?text="  class="social-links-anchor" data-action="share/whatsapp/share"  target="_blank">
                <i class = "fab fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    {% block scripts %}
      <script>
        var window_loc = document.location;
        var social_links = document.getElementsByClassName("social-links-anchor");

        for (var i = 0; i < social_links.length; i++) {
          prev_href = social_links[i].href
          social_links[i].href = prev_href + window_loc;
        }
      </script>
      <script src="{% static 'javascript/product.js' %}"></script>

    {% endblock %}

  {% endblock %}