{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/commonforall.css' %}?" %}>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/pages/registeration_page.css' %}?" %}>
</head>
<body>
{% include "components/nav.html" %}
    <div class="reg-form-container">
        <div class="reg-form">
            <div class="reg-form-head text-center">
                Register Here
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-field-grid-2">
                    <div class="input-field">
                        <input type="text" name="firstname" onfocusout="input_field_focusout('firstname_label','firstname_input')" onfocus="input_field_focus('firstname_label')" id="firstname_input" required />
                        <label for="name" class="input-field-label" id="firstname_label">Your name:<span class="imp-field">*</span></label>
                    </div>
    
                    <div class="input-field">
                        <input type="text" name="lastname" onfocusout="input_field_focusout('lastname_label','lastname_input')" onfocus="input_field_focus('lastname_label')" id="lastname_input" required />
                        <label for="name" class="input-field-label" id="lastname_label">Your Lastname:<span class="imp-field">*</span></label>
                    </div>
                </div>

                <div class="input-field-grid-2">
                    <div>
                        <label for="gender" class="input-field-label" id="Gender_label">Your Gender:<span class="imp-field">*</span></label> &nbsp;
                        <input type="radio" name="gender" id="" value="Male" required />Male &nbsp;
                        <input type="radio" name="gender" id="" value="Female" required />Female &nbsp;
                    </div>
                </div>

                <div class="input-field-grid-2">
                    <div class="input-field">
                        <input type="email" name="mail" onfocusout="input_field_focusout('email_label','email_input')" onfocus="input_field_focus('email_label')" id="email_input" required />
                        <label for="name" name="" class="input-field-label" id="email_label">Your Email:<span class="imp-field">*</span></label>
                    </div>
    
                    <div class="input-field">
                        <input type="text" name="phone" onfocusout="input_field_focusout('mobile_label','mobile_input')" onfocus="input_field_focus('mobile_label')" id="mobile_input" required />
                        <label for="name" class="input-field-label" id="mobile_label">Your Mobile:<span class="imp-field">*</span></label>
                    </div>
                </div>

                <div class="input-field-grid-2">
                    <div class="input-field">
                        <input type="text" name="username" onfocusout="input_field_focusout('username_label','username_input')" onfocus="input_field_focus('username_label')" id="username_input" required />
                        <label for="name" class="input-field-label" id="username_label">Create Username:<span class="imp-field">*</span></label>
                    </div>
    
                    <div class="input-field">
                        <input type="password" name="password" onfocusout="input_field_focusout('password_label','password_input')" onfocus="input_field_focus('password_label')" id="password_input" required />
                        <label for="name" class="input-field-label" id="password_label">Create Password:<span class="imp-field">*</span></label>
                    </div>
                </div>

                <div class="input-field-grid-2">
                    <div>
                        <input class="simple-bttn-2" onclick="input_field_focusout()" type="reset" value="Reset">
                    </div>
                    <div>
                        <input class="simple-bttn-2" type="submit" />
                    </div>
                </div>
                
            </form>

                <script>
                    function input_field_focus(n){
                        document.getElementById(n).classList.add("input-field-focused")
                    }
                    function input_field_focusout(n,m){
                        var inp_value = document.getElementById(m).value;
                        if(inp_value == ""){
                            document.getElementById(n).classList.remove("input-field-focused")
                        }
                    }
                
                </script>
        </div>
    </div>
</body>
</html>