@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Manrope:wght@400;600&display=swap');

:root{

    --black: #0f0f0f;
    --white: #ffffff;
    
    --theme-light-1: #f2f3f5;
    --theme-light-2: #95adbe;
    --theme-light-3: #fcf6db;
    --theme-light-4: #71a7ce;
    
    --theme-dark-1: #4d4d4d;
    --theme-dark-2: #69370d;
    --theme-dark-3: #6d5644;
    
    --color-1:rgb(191, 97, 57);
    --color-2:rgb(110, 191, 226);
    --color-3:rgb(26, 69, 87);

    --font-1:lora;
    --font-2:Manrope;

    --search-box-height: 40px;
    --body-start-position:70px;
    --side-nav-width:20vw;
}
@media only screen and (max-width:1086px){
    :root{
        --body-start-position:100px;
        --side-nav-width:100vw;
}
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:var(--font-2); 
    outline: none   
}
/* predefined styles for easy work */
.hidden {
	display: none !important;
}
.text-center{
    text-align: center;
}

.disp-flex{
    display: flex;
}
.grid-2{
    display: grid;
    grid-template-columns:  auto auto;
}

.show-on-desktop{
    display:block;
}
.hide-on-desktop{
    display:none;
}

@media screen and (max-width: 768px) { 
    .hide-on-mobile{
        display:none
    }
    .show-on-mobile{
        display:block
    }
}

.imp-field{
    color: red;
}


/* predefined tag styles */
a{
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background: transparent;
    outline: 0;
}

input{
    outline:none
}

/* ========== Button styles =========== */

.simple-bttn{
    padding:10px 15px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
    outline: 0;
    border: none;
}

.simple-bttn-1{
    background-color:#0d658a;
    border-radius:2px;
    color:white;

}

.simple-bttn-2 {
    border-radius: 2px;
    color: white;
    background-color: #000;
}

.simple-bttn-2:hover {
    background-color: #555;
}
.simple-bttn-3{
    background:var(--theme-dark-3);
    border-radius:2px;
    color: var(--white);
    padding: 1vh 1vw;
}
.simple-bttn-4{
    background:var(--color-1);
    border-radius:2px;
    color: var(--white);
}

.simple-bttn-circle{
    border-radius: 50%;
}


/* ========== Input styles =========== */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}