{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/4312d0d9f5.js" crossorigin="anonymous"></script>
    
    <title>Document</title>

</head>

<body>
    <footer>
        <div class="footer-container">
            <div class="sec-about">
                <h2>About Us</h2>
                <p>Ever wanted to buy a book but could not because it was too expensive? worry not! because BookShark is
                    here! BookShark is customer to customer platform for books. Sell and buy old & new books in India at
                    the minimal prices ever seen anywhere .</p>
                <ul class="sci">
                    <li><a href="#" class="fa fa-link-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="fa-link-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="fa-link-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="sec-quicklinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li>

                </ul>
            </div>
            <div class="sec-contact">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                        <p><a href="tel:123323">+9021563827</a></p>
                    </li>
                    <li>
                        <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <p><a href="mail:anuj.uru@gmail.com">anuj.uru@gmail.com</a></p>
                    </li>
                </ul>
            </div>

        </div>
    </footer>
</body>
</html>