{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>


    <link rel="stylesheet" type="text/css" href="{% static 'CSS/common.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/components/navbar.css' %}" />

   <!-- For social links - fontawesome symbols -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <style>
    .navbar .logo-anchor-link{
        text-decoration: none;
        font-size: 23px;
    }
    </style>

</head>
<body>
    <nav class="navbar">
        <div class="col-1">
            <a href="/" class="logo-anchor-link">
                BookShark
            </a>
        </div>
        <div class="col-2">
            <div class="col-2-elem nav-links">
                <div class="nav-sub-menu"><a href="/">Home</a></div>
                <div class="nav-sub-menu"><a href="#">Search</a></div>
                <div class="nav-sub-menu"><a href="/">Profile</a></div>
                <div class="nav-sub-menu"><a href="/sell">Sell</a></div>
                <div class="nav-sub-menu"><a href="/">Buy</a></div>
                <!-- display on mobile view -->
                
                <div class="nav-sub-menu show-on-mobile hide-on-desktop"><a href="">Login</a></div>
                <div class="nav-sub-menu show-on-mobile hide-on-desktop "><a href="/">Signup</a></div>
                <div class="nav-sub-menu show-on-mobile hide-on-desktop "><a href="/">AdminPanel</a></div>


            </div>
        </div>
        <div class="col-3">

            <div class="hamburger-icon-bttn">

                <!-- Hide on desktop view - hamburger icon -->
                <button onclick="toggle_nav_links()" class=" hide-on-desktop show-on-mobile">
                    <i  class="fa fa-bars"></i>
                </button>

                <!-- display on desktop view -->
                <div class="login-signup-container">
                    <div class="nav-sub-menu show-on-desktop hide-on-mobile"><a href="/loginpage">Login</a></div>
                    <div class="nav-sub-menu show-on-desktop hide-on-mobile "><a href="/registeration_page">Signup</a></div>
                    <div class="nav-sub-menu show-on-desktop hide-on-mobile"><a href="/">AdminPanel</a></div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        function toggle_nav_links(){
            var navlinks = document.querySelector(".col-2");
            navlinks.classList.toggle("on-ham-icon-click");
        }
    </script>
</body>
</html> 