{% extends "template.html" %}

{%  load static %}

{% block style-links %}
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/pages/index.css' %}?" %}>
{% endblock %}

{% block content %}

    <div class="home-body-container">
            <br>
            
            <div class="search-results">
        
                {% if book_data.count > 0 %}
                
                    {% for book in book_data %}


                    <div class="result-card">
                        <a href="/product/{{book.pk}}" class="result-card-anchor">
                            <div class="book-image-div image-container">
        
                                {% for image in book_images %}
                                    {% if image.book_uid.pk == book.pk  %}
                                        <img class="book-image" src="/books/{{image.path}}" alt="{{book.book_name}}" />
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="book-details-div  ">
                                <div class="book-name"><b>{{book.book_name}}</b></div>
                                <div class="book-description">{{ book.book_description }}</div>
                                <div class="book-prices">
                                    <div class="book-Mrp"> <strike><b>&#8377;{{book.book_mrp}}</b> </strike>&nbsp;&nbsp;</div> 
                                    <div class="book-price"> <b>&#8377;{{book.book_selling_price}}</b> </div>
                                </div>
                            </div>
                    </a>
                        <div class="book-result-card-button-container">
                            <div>
                                <button class="add-to-cart-button simple-bttn-1"> <i class="fa fa-window-restore"></i> &nbsp; Compare</button>
                            </div>
                            <div>
                                <form method="post" >
                                        {% csrf_token %}
                                    <input type="hidden" value="{{book.book_selling_price}}" />
                                    <button class="buy-now-button simple-bttn-1" id="bttn_{{book.pk}}"> 
                                        <i class="fa fa-"></i><i class="fa fa-shopping-cart"></i> &nbsp; Buy Now
                                    </button> 
                                </form>
                            </div>
                        </div>
                    </div>

                    
                {% endfor %}
                 
                {% else %}
                <div class="no-books-to-display text-center">
                    No Books To Display 
                </div>
                {% endif %}
                
            </div>
        </div>
        
        {% block scripts %}
        
            
        {% endblock scripts %}
        {% endblock content %}