{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/common.css' %}?" %}>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/pages/index.css' %}?" %}>
</head> 

<body>

    {% include 'components/nav.html'%}

    <div class="home-body-container">
            <br>
            
            <div class="search-results">
        

        
        
                {% for book in book_data %}


                <div class="result-card">
                    <a href="/product" class="result-card-anchor">
                        <div class="book-image-div image-container">
                            {% for image in book_images %}
                                {% if image.book_uid.pk == book.pk  %}
                                    <img class="book-image" src="/books/{{image.path}}" alt="{{book.book_name}}" />
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="book-details-div {{book.pk}}">
                            <div class="book-name"><b>{{book.book_name}}</b></div>
                            <div class="book-description">{{ book.book_description }}</div>
                            <div class="book-prices">
                                <div class="book-Mrp"> <strike><b>&#8377;{{book.book_mrp}}</b> </strike></div>
                                <div class="book-price"> <b>&#8377;{{book.book_selling_price}}</b> </div>
                            </div>
                        </div>
                </a>
                    <div class="book-result-card-button-container">
                        <div>
                            <button class="add-to-cart-button simple-bttn-3"> <i class="fa fa-shopping-cart"></i> Add To Cart</button>
                        </div>
                        <div>
                            <button class="buy-now-button simple-bttn-4"> <i class="fa fa-"></i>Buy Now</button>
                        </div>
                    </div>
                </div>


                {% endfor %}
        
            </div>
    </div>
   

</body>
</html>